<nav class="navbar navbar-expand-lg navbar-light bg p-2">
    <div class="container-fluid">

                <a class="navbar-brand logo ps-5 pe-5 ms-5 me-5 fs-3" href="{%url 'home' %}">Instagramclone App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
 
            <form class="d-flex ps-5 pe-5 ms-5 me-5 w-50 search-form" method="GET" action="{%url 'search' %}">
                <input name="q" class="form-control me-2" type="text" placeholder="start search ..." aria-label="Search">
            </form>

            <div class="collapse navbar-collapse ps-5 pe-5 ms-5 me-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'upload' %}">Upload</a>
                      </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
    
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{%url 'profile'%}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {%if request.user.is_authenticated%}
                            <li><a class="dropdown-item" href="{%url 'logout' %}">Logout</a></li>
                            {%endif%}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>