{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}
<div class="container">
    <div class="main mt-5">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-8">
                {%for image in images %}
                <div class="card mb-3">
                    <div class="card-header bg">
                        <a href="">
                            <img src="{{image.owner.profile_photo.url}}" class="profile-img rounded-circle" alt="Image">
                        </a>
                        <small class="text-bold">{{image.owner |lower}}</small>

                        {%if request.user == image.owner.owner%}
                        <div class="float-end">
                            <div class="dropdown">
                                <div class="dropdown-toggle" href="" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </div>
                                
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-danger" href="{%url 'delete' image.id%}">Delete</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{%url 'update' image.id %}">Edit</a></li>
                                </ul>
                            </div>                         
                        </div>
                        {%else%}
                        <div class="float-end">
                            <div class="dropdown">
                                <div class="dropdown-toggle" href="" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </div>
                                
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{%url 'follow' image.owner.id%}">Follow</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{%url 'unfollow' image.owner.id%}">Unfollow</a></li>
                                </ul>
                            </div>                         
                        </div>
                        {%endif%}
                    </div>

                    <img src="{{image.image.url}}" class="main-img card-img-top" alt="Image">

                    <div class="p-3">
                        <div class="row mt-3">
                            <div class="col-sm-1">
                                <a href="{%url 'likes' image.id%}" class="text-decoration-none text-dark">
                                    {%if class_name == 'red'%}
                                    <i class="fa-regular fa-heart fs-4 red"></i>
                                    {%else%}
                                    <i class="fa-regular fa-heart fs-4"></i>
                                    {%endif%}
                                </a>
                            </div>

                            <div class="col-sm-1">                            
                                <a href="{%url 'comments' image.id%}" class="text-decoration-none text-dark">
                                    <i class="fa-regular fa-comment fs-4"></i>  
                                </a>
                            </div>

                            <div class="col-md-10"></div>
                        </div>


                        <h6 class="mt-3">{{image.likes}} likes</h6>
                        <p class="">
                            <strong>{{image.owner |lower}}</strong> &nbsp;{{image.image_caption |lower}}
                        </p>
                        <div class="mb-2">
                            <a class="text-muted text-decoration-none view-comments" href="{%url 'comments' image.id%}">
                                view comments
                            </a>
                        </div>

                        <div>
                            <small class="text-muted">{{image.created |timesince}}</small>
                        </div>

                        <!-- COMMENT SECTION -->
                    </div>
                </div>
                {%endfor%}
            </div>

            <!-- PROFILE SECTION -->
            <div class="col-md-3" id="home-profile">
                <a href="{%url 'profile'%}">
                    <img src="{{profile_info.profile_photo.url}}" class="prof-img rounded-circle" alt="Image">
                </a>
                {{profile_info.name}}  

                <div>
                    <hr class="mt-5">
                    <div >
                        <h3>Suggestions: </h3>
                        {%for profile in profiles%} 
                        <div class="mt-5">
                                {{profile.name}} 
                                <li class="list-unstyled"><a class='text-decoration-none' href="{%url 'follow' profile.owner.id%}">Follow</a></li>
                            {%endfor%}
                        </div>
                            
                    </div>
                </div>
            </div>
       </div>

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
  
      $(".like-btn").click(function() {
          $(this).css("color", "red");
      });
  
    });
  </script>

{%endblock%}